@import url("https://fonts.googleapis.com/css?family=Arapey");
@import url("https://fonts.googleapis.com/css?family=Gaegu");
body {
  font-family: 'Gaegu', serif;
  background: url("../images/bg.jpg") no-repeat fixed center center;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 3em;
  color: #FFFFFF;
}

.start-game {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.start-game button {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  background: #3c6881;
  font-size: 3em;
  color: #FFFFFF;
  cursor: pointer;
}

.start-game button:hover {
  background: #7199b1;
}

.start-game .reset {
  grid-column: 1/3;
  width: 100px;
  opacity: 0;
  font-size: 2em;
}

.start-game .end-game {
  font-size: 2em;
  display: none;
  color: #000000;
  font-weight: bold;
  border: 2px solid #FFFFFF;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  border-radius: 30px;
  font-family: 'Arapey', serif;
  position: absolute;
}

.start-game .win {
  background: #0edf07;
}

.start-game .lose {
  background: #f82904;
}

.start-game .draw {
  background: #e5f508;
}

.game-board {
  display: grid;
  border: 2px solid #FFF;
  height: 350px;
  width: 350px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  visibility: hidden;
}

.game-board .board-cell {
  border: 2px solid #FFF;
  font-size: 3em;
  cursor: pointer;
  background: none;
  display: grid;
}

.game-board .board-cell .content {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #FFFFFF;
}

.game-board .board-cell .content::-moz-selection {
  background: transparent;
}

.game-board .board-cell .content::selection {
  background: transparent;
}

.game-board .board-cell .content:hover {
  cursor: default;
}
