@import url('https://fonts.googleapis.com/css?family=Arapey');
@import url('https://fonts.googleapis.com/css?family=Gaegu');

//Variables
$color: #FFFFFF;

body{
    font-family: 'Gaegu', serif;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    font-size: 3em;
    color: $color;
}

.start-game{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    button{
        width: 70px;
        height: 70px;
        border-radius: 30px;
        background: #3c6881;
        font-size: 3em;
        color: $color;
        cursor: pointer;

        &:hover{
            background: #7199b1;
        }
    }

    .reset{
        grid-column: 1/3;
        width: 100px;
        opacity: 0;
        font-size: 2em;
    }

    .end-game{
        font-size: 2em;
        display: none;
        color: #000000;
        font-weight: bold;
        border: 2px solid $color;
        width: 150px;
        height: 40px;
        margin-top: 10px;
        border-radius: 30px;
        font-family: 'Arapey', serif;
        grid-column: 1/3;
    }
    
    .win{
        background: #0edf07;
    }
    .lose{
        background: #f82904;
    }
    .draw{
        background: #e5f508;
    }
}

.game-board{
    display: grid;
    border: 2px solid #FFF;
    height: 350px;
    width: 350px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    visibility: hidden;

    .board-cell{
        border: 2px solid #FFF;
        font-size: 3em;
        cursor: pointer;
        background: none;
        display: grid;

        .content{
            display: grid; 
            justify-content: center;
            align-content: center;
            color: $color;

            &::selection{
                background: transparent;
            }

            &:hover{
                cursor: default;
            }
        }
    }
}